<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill of Rights</title>
</head>
<body>
  <p><%=messages[0]%></p>
  <h1>Test your knowledge</h1>
  <form action="/" method="POST">
    <textarea name="" id="" cols="60" rows="10"></textarea>
    <button>Check</button>
    <button>Clear</button>
  </form>

</body>
</html>