<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bill of Rights</title>
</head>
<body>
  <%for (message of messages){ %>
    <p><%=message%></p>
  <%}%>
  
  <h1>Test your knowledge of 1st Amendment</h1>
  <form action="/" method="POST">
    <textarea name="userGuess" id="" cols="60" rows="10"></textarea>
    <button>Check</button>
    <button>Clear</button>
  </form>

</body>
</html>